<footer class="footer" id="footer" style="background-color: white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
      </div>
      
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          {% assign footer_social = site.data.sitetext[site.locale].footer.social | default: site.data.sitetext.footer.social %}
          {% for link in footer_social %}
          <li class="list-inline-item">
            {% if link.url %}
            <a href="{{ link.url }}">
              {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="legal">
              {{ site.data.sitetext[site.locale].footer.legal | default: site.data.sitetext.footer.legal | default: "Privacy Policy" }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      const footer = document.getElementById("footer");
      footer.style.position = "fixed";
      footer.style.bottom = 0;
      footer.style.width = "100%";
    }
  }
</script>
{% endif %}